body{
	font-family: gill sans;
	color: #333;
	border: 0;
	text-align: center;
}

h1, h2, h3, h4, p{
	margin: 0;
}

header{
	background: #cd4500;
}

h1{
	padding-bottom: 0.5em;
	padding-top: 1em;
	font-size: 2.5em;
	color: #fff;
}

.intro{
	font-size: 1.5em;
	padding-bottom: 1em;
}

.intro{
	color: #333;
}

.intro-highlight{
	color: rgba(255,255,255,.8);
}

h2{
	padding-top: 3em;
	padding-bottom: 2em;
}

.board{
	background-color: #eee;
}

@media (min-width: 1080px) {
  .container {
    max-width: 1040px;
  }
}
.container-narrow > hr {
  margin: 20px 0;
}

#board-img{
	width: 100%;
	z-index: -2;
}

.note-img{
	width: 100px;
	z-index: 1;
}

@media (min-width: 1200px) {
  .container {
    width: 1080px;
  }
}

.spot{
	height: 70px;
	width: 70px;
	border: 2px dotted #999;
	position: absolute;
	z-index: 0;
	color: #999;
}

.spot-state-change{
	background: rgba(191,49,0,.3);
}

#spot1{	
	left: 20%;
	top: 28%;
}

#spot2{
	left: 28%;
	top: 45%;
}

#spot3{
	left: 37%;
	top: 22%;
}

#spot4{
	left: 46%;
	top: 37%;
}

#spot5{
	left: 70%;
	top: 33%;
}

#spot6{
	left: 57%;
	top: 50%;
}

.mybtn1{
	background: #cd4500;
	color: #fff;
}

.mybtn2{
	background: #eee;
}

.mybtn{
	margin-top: 2em;
}

.home-depot, .farmers-market{
	min-height: 20px;
}

.number{
	color: #cd4500;
}










